.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 0;
  border: 1px solid #222;
  outline: none;
  background-color: #fff;
  font-size: 60px;
  color: #000;
  cursor: pointer;
  transition: .3s all ease;

  &:hover {
    background-color: #f0f0f0;
  }
}
